@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px 16px 100px;
  border: 1px solid #888;
  max-width: 1020px;
  position: relative;
  /* Could be more or less, depending on screen size */
}

.modal-header {
  box-sizing: border-box;
  display: flex;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  justify-content: center;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.modal-title {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  display: block;
}

/* The Close Button */
.close {
  box-sizing: border-box;
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 20px;
 padding: 5px;
 display: block;
 right: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-order__header {
  margin-bottom: 5px;
  padding: 12px 0px;
}

.checkout-seller {
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 20px;
  height: 40px;
}

.chekout-seller__logo {
box-sizing: border-box;
cursor: pointer;
display: block;
height: 40px;
width: 40px;
text-align: left;
line-height: 20px;

}

.seller-logo {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-size-adjust: 100%;
  margin-right: 12px;
}
.image {
  height: 40px;
  width: 40px;
  position: inherit;
}

.checkout-seller__info {
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.checkout-seller__name {
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  margin: 0px 0px 2px;
}
.checkout-seller__name span {
  color: #8a8a8a;
}

.checkout-seller__shipment {
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  margin: 0px 0px 2px;
  color: #8a8a8a;

}

.checkout-seller__shipment span {
  color: #8a8a8a;
}

.cart-cashback {
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  margin: 12px 0px 0px;
}

.cart-cashback__bonuses {
  color: #00a93e;
}

.cart-order__content {
  display: grid;
  border-top: #8a8a8abb solid 1px;
  border-bottom: #8a8a8abb solid 1px;
  margin-bottom: 5px;
  padding: 12px 0px;
}

.cart-item {
  display: flex;
}

.cart-item__img {
  display: flex;
  height: 40px;
  width: 38px;
}

.cart-item__img-img {
  display: block;
  height: 40px;
  width: 38px;
}

.cart-item__about {
  display: flex;
}

.cart-item__qty {
  display: block;
}

.cart-item__price {
  display: block;
}

.cart-item__total {
  display: flex;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: #444 solid 2px;
  margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border: #444 solid 2px;
  margin-bottom: 5px;
}

.cart-order__footer {
  border: #444 solid 2px;
}

.toCheckoutBtn {
  background-color: rgb(0, 200, 74);
  border-color: rgb(255, 255, 255);
  border-bottom-width: 0px;
  border-radius: 10px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  font-stretch: 100%;
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 360px;
  -webkit-font-smoothing: antialiased;
}

.toCheckoutBtn:hover {
  background-color: #00a93e;
}

.buy-button {
  background-color: rgb(0, 200, 74);
  border-color: rgb(255, 255, 255);
  border-bottom-width: 0px;
  border-radius: 10px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  font-stretch: 100%;
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 382px;
  -webkit-font-smoothing: antialiased;
}

.buy-button:hover {
  background-color: #00a93e;
}

.icon-cart {
  background: url(icons-cart-22.png) no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 135px;
  top: center;
}


@media screen and (min-width: 800px) {
  .toCheckoutBtn {
    height: 48px;
    width: 382px;
  }
}
@media screen and (max-width: 800px) {
.modal-content {
  margin: 0% auto;
}
}

